<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alenor.filmdb">

    <application
        android:name=".MovieDBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ImagePreviewPager"
            android:theme="@style/AppTheme.ImagePreview" />
        <activity android:name=".ui.GuestMenuActivity" />
        <activity android:name=".ui.MovieActivity" />
        <activity
            android:name=".ui.AccountActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name=".ui.PlaylistContentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.FavoriteMoviesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.AccountActivity" />
        <activity
            android:name=".ui.WatchlistActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.AccountActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.AccountActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
